.rootHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        .nav {
            display: none;
        }
    }
}
@media (min-width: 1024px) {
    .rootHeader {
        .iconMenu {
            display: none;
        }
        .logo {
            display: flex;
            align-items: center;
            gap:0 96px;
            .nav {
                display: flex;
                ul {
                    display: flex;
                    list-style: none;
                    gap:0 45px;
                    li {
                        text-decoration: none;
                        a {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
