.pagination {
    display: flex;
    gap: 0 10px;
    padding: 0;
    justify-content: center;
    li {
        cursor: pointer;
        list-style: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .pageItem {
        border: 1px solid #fff;
        align-items: center;
        display: flex;
        a {
            color: #fff;
            font-size: 13px;
        }
    }
    .pageItemActive {
        border: 1px solid #fff;
        background: #fff;
        a {
            color: #000;
            font-size: 13px;
        }
    }
}

@media(min-width:1024px){
    .pagination {
        margin:75px 0 0 0;
    }
}