.rootCategory {
    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 28px;
        color: #ffffff;
    }
    .rootPostCard {
        display: grid;
        gap: 30px 0;
        margin: 20px 0;
    }
}
@media (min-width: 1024px) {
    .rootCategory {
        h2 {
            margin: 45px auto;
            display: flex;
            justify-content: center;
        }
        .rootPostCard {
            gap: 30px 30px;
            margin: 70px 0;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
