.nextRoot {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    .mainRoot {
        padding: 30px;
        max-width: 1080px;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    .nextRoot {
        .mainRoot {
            padding: 60px 20px;
            // height: 100vh;
        }
    }
}
