.rootPostCard {
    img {
        width: 100%;
    }
    .info {
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: #fff;
        opacity: 0.6;
        padding: 20px 0 11px 0;
        .cateAndDate {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
    }
    .title {
        padding: 0;
        margin: 0;
        a {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 38px;
            color: #ffffff;
        }
    }
    .sub {
        padding: 10px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.6);
    }
}
