.rootHome {
    padding: 30px 0;
    .cardMain {
        display: grid;
        gap: 40px 0;
    }
}
@media (min-width: 1024px) {
    .rootHome {
        padding: 60px 0;
        .cardMain {
            gap: 30px 30px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
