.rootPostDetail {
    .info {
        display: flex;
        align-items: center;
        gap: 0 10px;
        padding: 30px 0 10px 0;
        justify-content: center;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #ffffff;
            opacity: 0.6;
        }
    }
    h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #ffffff;
    }
    .image {
        margin: 20px 0;
    }
    img {
        width: 100%;
    }
    .content {
        color: #ffffff;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            /* or 188% */
        }
    }
}
@media (min-width: 1024px) {
    .rootPostDetail {
        max-width: 845px;
        margin: 0 auto;
        .info {
            padding: 70px 0 18px 0;
        }
        .image {
            margin: 30px 0;
        }
        .content {
            max-width: 708px;
            margin: 0 auto;
        }
    }
}
