.rootSearch {
    display: grid;
    gap: 25px 0;
    padding: 35px 0;
}
@media (min-width: 1024px) {
    .rootSearch {
        padding: 60px 0;
        gap: 30px 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}
