@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import "react-loading-skeleton/dist/skeleton.css";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Patrick Hand", sans-serif;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

[style*="--aspect-ratio"]::before {
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
